edit-activity {
    .botao{
        margin-top: 15px;
        margin-bottom: auto;
        margin-left: 25%;
        position: relative;
        width: 70px;
        height: 30px;
        background-color: #ff3e75;
    }
}
