<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar class="toolbar" color="theme">
        <ion-title>Perfil</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>

        <div class="div-menu">
            <img [src]="profilePicture" class="profile-img">
            <h2>Arissa Moromisato</h2>
            <p>Nível da Doença: 2</p>
        </div>
  


        <ion-list-header>Informações</ion-list-header>
        <ion-item *ngFor="let patient of patientInformation">Idade:
        <ion-note item-end>
            {{patient.years}}
        </ion-note>
        </ion-item>

        <ion-item *ngFor="let patient of patientInformation">Nascimento:
                <ion-note item-end>
                    {{patient.birth}}
        </ion-note>
        </ion-item> 

        <ion-item *ngFor="let patient of patientInformation">Sexo:
                <ion-note item-end>
                    {{patient.sex}}
        </ion-note>
        </ion-item> 

        <ion-item *ngFor="let patient of patientInformation">Telefone:
                <ion-note item-end>
                    {{patient.phone}}
        </ion-note>
        </ion-item> 

        <ion-item *ngFor="let patient of patientInformation">Obs:
                <ion-note item-end>
                    {{patient.obs}}
        </ion-note>
        </ion-item> 



    </ion-list>
</ion-content>