<!-- Generated template for the AddActivityComponent component -->

<form>
  <ion-list>
      <ion-item>
          <ion-label>Nome:</ion-label>
          <ion-input type="text" name="txtActivityTitle"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Local:</ion-label>
          <ion-input type="text" name="txtActivityLocal"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Início:</ion-label>
          <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" name="pckfHourStart"></ion-datetime>
      </ion-item>
      <ion-item>
          <ion-label>Término:</ion-label>
          <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" name="pckfHourEnd"></ion-datetime>
      </ion-item>
      <ion-item>
          <ion-label>Observações:</ion-label>
          <ion-input type="text" name="txtActivityObservations"></ion-input>
      </ion-item>

      <button ion-button class="botao-inserir">Inserir</button>
  </ion-list>
</form>