<!-- Generated template for the AddActivityComponent component -->

<form>
    <ion-list>
        <ion-item>
            <ion-label>Nome:</ion-label>
            <ion-input type="text" name="txtMedicineTitle"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Dosagem:</ion-label>
            <ion-input type="text" name="txtMedicineDosagem"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Miligramagem:</ion-label>
            <ion-input type="text" name="txtMedicineMiligramagem"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Princípio Ativo:</ion-label>
            <ion-input type="text" name="txtMedicinePrincipio"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Intervalo:</ion-label>
            <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" name="pckfHourIntervalo"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Próxima Aplicação:</ion-label>
            <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" name="pckfNextAplication"></ion-datetime>
        </ion-item>

        <button ion-button class="botao-inserir">Inserir</button>
    </ion-list>
  </form>