page-testes {

}
.pergunta{
    text-align: center;
    //padding-top: 50%;
    
    font-family: 'Segoe UI';
    color:  #FF3E75;
    font-size: 5vw;
}

.footer-bar{
    position: absolute;
    bottom: 0px;
}

.acertou{
    //left:17vw; 
    //height: 10vw;
    width: 80%;
  //margin-top:8vw; 
}

.errou{
    //margin-top:8vw;
    //background-color: red;
    //left:23vw; 
    //height: 10vw;
    width: 80%;
}

.icone{
 font-size: 10vw;
 padding: 5vw;
}

.activated{
    background-color: rgba(0,0,0, 0.5);
}
