<!--
  Generated template for the TestesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="theme">
  <!--<ion-navbar  class="toolbar" color="theme">-->
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Testes</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  
<div padding>
    <ion-segment [(ngModel)]="tests">
      <ion-segment-button value="MiniMental" (click)="show = !show" >
        MiniMental
      </ion-segment-button>
      <ion-segment-button value="Pessoal"  (click)="show = !show" >
        Pessoal
      </ion-segment-button>
    </ion-segment>
  </div>

<div [ngSwitch]="tests">
    <ion-list *ngSwitchCase="'MiniMental'">
        <div *ngIf="show; then testMiniMental" class="ng-if">
        </div>
    <template #testMiniMental>
      <test-minimental></test-minimental>
    </template>

    </ion-list>
  
    <ion-list *ngSwitchCase="'Pessoal'">
          <div *ngIf="show; then testPersonal" class="ng-if">
            </div>
        <template #testPersonal>
          <test-personal>Hello</test-personal>
        </template>
    </ion-list>
  </div>

  <!--<ion-card>
    <ion-card-content>

            <h1 class="pergunta">{{lblPergunta}}
            </h1>

    
    </ion-card-content>
  </ion-card>-->
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
      <ion-col width-50>
        <button ion-button clear round class="acertou"><ion-icon class="icone" ios="ios-checkmark" md="md-checkmark" ></ion-icon></button>
      </ion-col>
      <ion-col width-50> 
        <button ion-button clear round class="errou" color="danger"><ion-icon class="icone" ios="ios-close" md="md-close"></ion-icon></button>
      </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
